* {
    color: white;
  }
  body {
    background-color: #262626;
  }
  .leaflet-popup-content-wrapper {
    background-color: #000
  }
  #map1 {
    height: 75vh;
  }
  option {
    color: black;
  }

  @font-face {
    font-family: 'anurati';
    src: local('anurati') url('Anurati-Regular.otf') format ("otf");
  }